@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-header img {
    height: 70px;
    margin: 10px 0px 10px 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-family: "Bebas Neue";
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
}

.hero {
    position: relative;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100%;
    overflow: hidden; /* Asegura que no haya barras de desplazamiento por el video */
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-content {
    font-size: 14px;
    text-align: left;
}

footer .logo img {
    height: 65px;
}

